<h5>Bienvenue dans AlBulle, galerie photos !</h5>

<p>Publiez vos photos en ligne grâce à Albulle.</p>
	
<p>
	Ce texte est un exemple. Vous pouvez le remplacer par ce que vous souhaitez. Pour consulter les photos
	disponibles, utilisez la liste des dossiers.
</p>
	
<p>
	Un panier virtuel est &agrave; votre disposition. Il vous suffit d'ajouter les images &agrave; votre panier pour
	ensuite les t&eacute;l&eacute;charger sous forme d'archives zip.
</p>

<p>Depuis la <strong>version 1.1</strong> vous pouvez utiliser 
<a href="http://www.cooliris.com/" title="Installer Cooliris" style="color: limegreen">Cooliris</a>
pour visualiser les photos depuis un <strong>mur 3D</strong> !</p>